In [184]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import ast
import nltk
import pickle

In [185]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [186]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [187]:
movies.fillna(0, inplace=True)

In [188]:
movies.columns.tolist()

['budget',
 'genres',
 'homepage',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count']

In [189]:
credit.columns.tolist()

['movie_id', 'title', 'cast', 'crew']

In [190]:
movie = pd.merge(credit,movies,left_on='movie_id',right_on='id')

In [191]:
movie.shape

(4803, 24)

In [192]:
movie.drop(['popularity','budget','revenue','runtime','original_language','spoken_languages','homepage','status','production_companies','release_date'], axis=1, inplace=True)

In [193]:
movie.drop(['movie_id','original_title','title_y', 'production_countries'], axis=1, inplace=True)

In [194]:
movie.isnull().sum()

title_x         0
cast            0
crew            0
genres          0
id              0
keywords        0
overview        0
tagline         0
vote_average    0
vote_count      0
dtype: int64

In [195]:
movie.iloc[0].overview

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [196]:
def convert(obj):
    result = []
    try:
        for item in ast.literal_eval(obj):
            result.append(item['name'].replace(" ", "").lower())
    except:
        pass
    return result

In [197]:
movie['genres'] = movie['genres'].apply(convert)
movie['keywords'] = movie['keywords'].apply(convert)

In [198]:
def convert3(obj):
    result = []
    counter = 0
    try:
        for item in ast.literal_eval(obj):
            if counter !=3:
                result.append(item['name'].replace(" ", "").lower())
    except:
        pass
    return result

In [199]:
movie['cast'] = movie['cast'].apply(convert3)

In [200]:
def get_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [201]:
movie['crew'] = movie['crew'].apply(get_director)

In [202]:
movie

,title_x,cast,crew,genres,id,keywords,overview,tagline,vote_average,vote_count
0,Avatar,"[samworthington, zoesaldana, sigourneyweaver, ...",[James Cameron],"[action, adventure, fantasy, sciencefiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,7.2,11800
1,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley, ste...",[Gore Verbinski],"[adventure, fantasy, action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",6.9,4500
2,Spectre,"[danielcraig, christophwaltz, l√©aseydoux, ralp...",[Sam Mendes],"[action, adventure, crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bond‚Äôs past sends him o...,A Plan No One Escapes,6.3,4466
3,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman, anne...",[Christopher Nolan],"[action, crime, drama, thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,The Legend Ends,7.6,9106
4,John Carter,"[taylorkitsch, lynncollins, samanthamorton, wi...",[Andrew Stanton],"[action, adventure, sciencefiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...","Lost in our world, found in another.",6.1,2124
...,...,...,...,...,...,...,...,...,...,...
4798,El Mariachi,"[carlosgallardo, jaimedehoyos, petermarquardt,...",[Robert Rodriguez],"[action, crime, thriller]",9367,"[unitedstates‚Äìmexicobarrier, legs, arms, paper...",El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",6.6,238
4799,Newlyweds,"[edwardburns, kerrybish√©, marshadietlein, cait...",[Edward Burns],"[comedy, romance]",72766,[],A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,5.9,5
4800,"Signed, Sealed, Delivered","[ericmabius, kristinbooth, crystallowe, geoffg...",[Scott Smith],"[comedy, drama, romance, tvmovie]",231617,"[date, loveatfirstsight, narration, investigat...","""Signed, Sealed, Delivered"" introduces a dedic...",0,7.0,6
4801,Shanghai Calling,"[danielhenney, elizacoupe, billpaxton, alanruc...",[Daniel Hsia],[],126186,[],When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,5.7,7
4802,My Date with Drew,"[drewbarrymore, brianherzlinger, coreyfeldman,...","[Brian Herzlinger, Jon Gunn, Brett Winn]",[documentary],25975,"[obsession, camcorder, crush, dreamgirl]",Ever since the second grade when he first saw ...,0,6.3,16

In [203]:
movie.columns.tolist()

['title_x',
 'cast',
 'crew',
 'genres',
 'id',
 'keywords',
 'overview',
 'tagline',
 'vote_average',
 'vote_count']

In [204]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [205]:
movie['cast'] = movie['cast'].apply(collapse)
movie['crew'] = movie['crew'].apply(collapse)
movie['genres'] = movie['genres'].apply(collapse)
movie['keywords'] = movie['keywords'].apply(collapse)

In [206]:
movie['overview'] = movie['overview'].astype(str)

In [207]:
movie['overview'] = movie['overview'].apply(lambda x:x.split())

In [208]:
movie['tags'] = movie['overview'] + movie['genres'] + movie['keywords'] + movie['cast'] + movie['crew']
movie['tags'] = movie['tags'].apply(lambda x: " ".join(x))

In [209]:
movie['tags'] = movie['tags'].apply(lambda x:x.lower())

In [210]:
dataset = movie.drop(columns=['overview','genres','keywords','cast','crew','tagline','vote_average','vote_count'])

In [211]:
dataset

,title_x,id,tags
0,Avatar,19995,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,285,"captain barbossa, long believed to be dead, ha..."
2,Spectre,206647,a cryptic message from bond‚Äôs past sends him o...
3,The Dark Knight Rises,49026,following the death of district attorney harve...
4,John Carter,49529,"john carter is a war-weary, former military ca..."
...,...,...,...
4798,El Mariachi,9367,el mariachi just wants to play his guitar and ...
4799,Newlyweds,72766,a newlywed couple's honeymoon is upended by th...
4800,"Signed, Sealed, Delivered",231617,"""signed, sealed, delivered"" introduces a dedic..."
4801,Shanghai Calling,126186,when ambitious new york attorney sam is sent t...
4802,My Date with Drew,25975,ever since the second grade when he first saw ...

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(dataset['tags']).toarray()

# Similarity matrix
similarity = cosine_similarity(vectors)

NameError: name 'dataset' is not defined

In [213]:
similarity

array([[1.        , 0.07142857, 0.05143445, ..., 0.02326211, 0.02571722,
        0.        ],
       [0.07142857, 1.        , 0.07715167, ..., 0.02326211, 0.        ,
        0.        ],
       [0.05143445, 0.07715167, 1.        , ..., 0.02512595, 0.        ,
        0.        ],
       ...,
       [0.02326211, 0.02326211, 0.02512595, ..., 1.        , 0.07537784,
        0.05025189],
       [0.02571722, 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05555556],
       [0.        , 0.        , 0.        , ..., 0.05025189, 0.05555556,
        1.        ]])

In [214]:
from nltk.stem.porter import  PorterStemmer
ps = PorterStemmer()

In [215]:
print(dataset['tags'][0])
print(type(dataset['tags'][0]))

in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron
<class 'str'>

In [216]:
def stem(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [217]:
dataset['tags']= dataset['tags'].apply(stem)

In [218]:
dataset['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [219]:
dataset[dataset['title_x'] == 'The Lego Movie'].index[0]

np.int64(744)

In [220]:
def recommend(movies):
    index = dataset[dataset['title_x'] == movies].index[0]
    movie_list = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])
    for i in movie_list[0:7]:
        print(dataset.iloc[i[0]].title_x)

In [221]:
recommend('Pirates of the Caribbean: At World\'s End')

Pirates of the Caribbean: At World's End
Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides
20,000 Leagues Under the Sea
Life of Pi
Puss in Boots

In [ ]:

pickle.dump(dataset, open('movies.pkl', 'wb'))